<% if flash[:notice] %>
    <script>
        swal(
            '<%= flash[:notice]%>',
            'Sorry try again',
            'error'
        )
    </script>
<% end %>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header"><br>
          <a class="navbar-brand navbar-btn" href="/session/homepage" style="font-size: 35px;">#TeleVisioExpress</a>
        </div><br>
          <ul class="nav navbar-nav navbar-right">
            <li><a class="btn btn-default navbar-btn btn-sm"  href="/welcome/register">Register</a></button></li>
     
            <li><a class="btn btn-default navbar-btn btn-sm"  href="/discover/discover_shows">Discover</a></button></li>

            <li><a class="btn btn-default navbar-btn btn-sm"  href="/session/team">Team</a></button></li>
          </ul>
        </div>
      </div>
    </nav>

<br><br><br><br><br><br>


<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css">
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>


<div class="container">
    <center><div class="row col-lg-5 col-sm-2 col-lg-offset-3">
        <div class="jumbotron">
            <h3>Login</h3>
            <p>Login to get all the information about the latest TvShows right now.</p>
        </div>
        <form role="form" action="/session/login_user" method="post">
            <div class="form-group">
                <input type="text" class="form-control" name="email_log" placeholder="E-Mail" id="email" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password_log" placeholder="Password" id="password" required>
            </div>
            <input type="submit" class="btn btn-success btn-block" value="Login">
        </form>
    </div></center>
</div>

<br><br><br><br><br><br><br>


<div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Your Website 2014</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</footer>
</div>
