<% if flash[:notice] %>
    <script>
        swal(
            '<%= flash[:notice]%>',
            'Sorry try again',
            'error'
        )
    </script>
<% end %>


<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css">
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>

<<!-- Navigation -->

    <nav class="navbar navbar-default navbar-fixed-top" >
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="/reel.png" width="60px" height="60px">
                <a class="navbar-brand page-scroll" href="/session/homepage">#TeleVisioExpress</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/session/log_user">Login</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/discover/discover_shows">Discover</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/session/tvshows">Tvshows</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav><br><br><br><br><br><br>

    <!-- Bootstrap -->
    <div class="container">
        <center><div class="row col-lg-5 col-sm-2 col-lg-offset-3">
            <div class="jumbotron">
                <h3>Register</h3>
                <p>Register today and get all the information about the latest TvShows here.</p>
            </div>
            <form role="form" method="post" action="/welcome/create_user">
                <div class="form-group">
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="email" name="email" placeholder="E-Mail" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="password2" name="password2" placeholder="Re-Enter Password" required>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-info btn-block" value="Register">
                </div>
            </form>
            <div class="alert alert-info">
                <strong>Already a member ?</strong>
                <a href="/session/log_user" class="btn btn-info btn-link">Login</a>
            </div>
        </div></center>
    </div>


<!--     <div class="register_form">
    <center><h4 style="padding-top: 5px;">Register</h4></center><br>
    <form method="post" action="/welcome/create_user">
        <input type="text" name="username" placeholder="Username" id="username" style="display:block;" required><br>
        <input type="text" name="email" placeholder="Email" id="email" style="display:block;" required><br>
        <input type="password" name="password" placeholder="Password" id="password" style="display:block;" required><br>
        <input type="password" name="password2" placeholder="Re-type password" id="password2" style="display:block;" required><br>
        <input type="submit" value="Register" id="style_button" style="display:block;" ><br>
    </form>
</div> -->

<!--     <div id="registration-form">
<div class='fieldset'>
<legend>Register</legend>
    <form action="/welcome/create_user" method="post" data-validate="parsley">
        <div class='row'>
            <label for='firstname'>User Name</label>
            <input type="text" placeholder="User Name" name='username' id='firstname' required>
        </div>
        <div class='row'>
            <label for="email">E-mail</label>
            <input type="text" placeholder="E-mail"  name='email' required>
        </div>
        <div class='row'>
            <label for="cemail">Password</label>
            <input type="password" placeholder="Password" name='password'required>
        </div>
        <div class='row'>
            <label for="cemail">Confirm your Password</label>
            <input type="password" placeholder="Confirm your Password" name='password2' required>
        </div>
        <input type="submit" value="Register">
    </form>
</div>
</div>
-->
<!-- <div>
<center> <h5>Already a member ?</h5></center>
<center>
    <a id="login_link" href="/session/log_user" style="text-decoration:none; color:#777; font-size:20px;">Login</a>
    <a id="login_link" href="/session/log_user" style="text-decoration:none; color:#777; font-size:20px;">Login</a>
</center>
</div>
-->
<br><br><br><br><br><br><br>


<div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Your Website 2014</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</footer>
</div>
