<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css">
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>

<!-- Navigation -->

    <nav class="navbar navbar-default navbar-fixed-top" >
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="/reel.png" width="60px" height="60px">
                <a class="navbar-brand page-scroll" href="/session/homepage">#TeleVisioExpress</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <% if @user %>
                    <li>
                        <a class="page-scroll" href="/session/destroy">Logout</a>
                    </li>
                     <li>
                        <a class="page-scroll" href="/session/profile"><%= @user.username %></a>
                    </li>
                    <% else %>
                   <!--  <li>

                        <a class="page-scroll" href="/welcome/register">Register/Login</a>
                    </li> -->
                    <% end %>
                    <li>
                        <a class="page-scroll" href="/session/tvshows">Tvshows</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

<br><br><br><br><br><br>


<div class="container">
    <div class="row col-lg-6 col-lg-offset-3">
        <div class="panel panel-info">
            <div class="panel-heading">Discover by Genre</div>
            <div class="panel-body">
                <form role="form" method="get" action="/discover/discover_by_category">
                    <div class="form-group">
                        <select class="form-control" name="category">
                            <% @categories.each do |cat| %>
                                <option><%= cat.category_name %></option>
                            <% end %>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-info btn-block">Search <span class="glyphicon glyphicon-search"></span></button>
                </form>                
            </div>
        </div>
    </div>
    <div class="row col-lg-6 col-lg-offset-3">
        <div class="panel panel-info">
            <div class="panel-heading">Discover by Year of Release</div>
            <div class="panel-body">
                <form role="form" method="get" action="/discover/discover_by_year">
                    <div class="form-group">
                        <input type="number" min="1995" max="2016" value="2000" name="year" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-info btn-block">Search <span class="glyphicon glyphicon-search"></span></button>
                </form>                
            </div>
        </div>
    </div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>


<div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; TeleVisioExpress 2016</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</footer>
</div>